In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import RobustScaler
import ipywidgets as widgets
from ipywidgets import interactive
from matplotlib.patches import Patch

# Laad Data

In [2]:
df1 = pd.read_csv("data_1.csv")
df2 = pd.read_csv("data_2.csv")

df3 = pd.read_csv("Bodemgebruik__wijk__en_buurtcijfers_2017_02052025_150059.csv",
                  sep=';')  # voor een betere 'groen' indicator

In [3]:
df1

,Unnamed: 0.1,Unnamed: 0,ID,WijkenEnBuurten,Gemeentenaam_1,SoortRegio_2,Codering_3,AantalInwoners_5,Mannen_6,Vrouwen_7,...,Hoekwoning_50,TweeOnderEenKapWoning_51,VrijstaandeWoning_52,AfstandTotHuisartsenpraktijk_94,AfstandTotGroteSupermarkt_95,AfstandTotKinderdagverblijf_96,AfstandTotSchool_97,ScholenBinnen3Km_98,TotaleOppervlakte_4,BouwgrondOpp
0,0,0,0,Nederland,Nederland,Land,NL00,17081507,8475102,8606405,...,3100.0,3430.0,4040.0,1.0,0.9,0.8,0.7,11.2,4154302,434426
1,1,1,1,Aa en Hunze,Aa en Hunze,Gemeente,GM1680,25286,12603,12683,...,2640.0,3090.0,3700.0,2.5,2.3,1.1,1.2,1.8,27887,5992
2,2,2,2,Wijk 00 Annen,Aa en Hunze,Wijk,WK168000,3545,1710,1835,...,2860.0,3300.0,3810.0,1.0,0.9,0.5,0.8,2.4,1478,53
3,3,3,3,Annen,Aa en Hunze,Buurt,BU16800000,3395,1635,1760,...,2860.0,3300.0,3720.0,0.9,0.8,0.5,0.7,2.5,252,3
4,4,4,4,Verspreide huizen Annen,Aa en Hunze,Buurt,BU16800009,150,80,75,...,NaN,NaN,4830.0,2.7,2.1,1.7,2.1,1.2,1226,49
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16662,16662,16662,16662,Gerenbroek,Zwolle,Buurt,BU01935150,3165,1555,1610,...,2990.0,3470.0,4020.0,0.9,0.7,0.5,0.6,11.7,49,0
16663,16663,16663,16663,Oude Mars,Zwolle,Buurt,BU01935160,90,45,45,...,NaN,NaN,5910.0,1.5,1.6,1.6,1.6,8.9,45,0
16664,16664,16664,16664,Wijk 52 Soestweteringlanden,Zwolle,Wijk,WK019352,900,445,450,...,2850.0,3700.0,3840.0,3.9,4.0,1.1,1.1,2.9,1194,134
16665,16665,16665,16665,Windesheim,Zwolle,Buurt,BU01935200,400,190,205,...,2830.0,3390.0,3750.0,4.8,4.9,0.4,0.4,1.0,53,0
16666,16666,16666,16666,Harculo en Hoogzutmen,Zwolle,Buurt,BU01935210,500,255,245,...,NaN,4340.0,3900.0,3.2,3.3,1.7,1.7,4.5,1141,134

In [4]:
df2

,Unnamed: 0,RegioS,GemiddeldeVerkoopprijs_1,GemiddeldeWOZWaardeVanWoningen_1,GemiddeldeDoorlooptijd_12
0,0,Nederland,307978.0,29900.0,22.0
1,1,Noord-Nederland (LD),230412.0,22700.0,20.0
2,2,Oost-Nederland (LD),281575.0,27900.0,21.0
3,3,West-Nederland (LD),344342.0,33100.0,22.0
4,4,Zuid-Nederland (LD),290853.0,28800.0,22.0
...,...,...,...,...,...
379,379,Castricum,369741.0,34600.0,21.0
380,380,Goeree-Overflakkee,274637.0,27100.0,16.0
381,381,Tynaarlo,309779.0,30000.0,13.0
382,382,'s-Gravenhage gemeente,324838.0,32200.0,21.0
383,383,Vught,449625.0,44900.0,NaN

In [5]:
df3

,Wijken en buurten,Regioaanduiding/Gemeentenaam (naam),Regioaanduiding/Soort regio (omschrijving),Regioaanduiding/Codering (code),Totale oppervlakte (ha),Recreatieterrein/Totaal recreatieterrein (ha),Recreatieterrein/Park en plantsoen (ha),Recreatieterrein/Sportterrein (ha),Recreatieterrein/Volkstuin (ha),Recreatieterrein/Dagrecreatief terrein (ha),...,Binnenwater/Spaarbekken (ha),Binnenwater/Recreatief binnenwater (ha),Binnenwater/Binnenwater voor delfstofwinning (ha),Binnenwater/Vloei- en/of slibveld (ha),Binnenwater/Overig binnenwater (ha),Buitenwater/Totaal buitenwater (ha),"Buitenwater/Waddenzee, Eems, Dollard (ha)",Buitenwater/Oosterschelde (ha),Buitenwater/Westerschelde (ha),Buitenwater/Noordzee (ha)
0,Nederland,Nederland,Land,NL00,4154302,108335,32863,36288,3608,11526,...,1240,11104,2976,484,110008,415211,254432,34578,29812,96389
1,Aa en Hunze,Aa en Hunze,Gemeente,GM1680,27887,569,29,162,6,9,...,0,71,25,4,180,0,0,0,0,0
2,Wijk 00 Annen,Aa en Hunze,Wijk,WK168000,1478,23,5,11,0,0,...,0,0,0,0,13,0,0,0,0,0
3,Annen,Aa en Hunze,Buurt,BU16800000,252,13,5,8,0,0,...,0,0,0,0,0,0,0,0,0,0
4,Verspreide huizen Annen,Aa en Hunze,Buurt,BU16800009,1226,10,0,3,0,0,...,0,0,0,0,13,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16849,Gerenbroek,Zwolle,Buurt,BU01935150,49,2,2,0,0,0,...,0,0,0,0,2,0,0,0,0,0
16850,Oude Mars,Zwolle,Buurt,BU01935160,45,0,0,0,0,0,...,0,0,0,0,2,0,0,0,0,0
16851,Wijk 52 Soestweteringlanden,Zwolle,Wijk,WK019352,1194,9,2,5,0,0,...,0,0,0,0,64,0,0,0,0,0
16852,Windesheim,Zwolle,Buurt,BU01935200,53,3,0,3,0,0,...,0,0,0,0,0,0,0,0,0,0
16853,Harculo en Hoogzutmen,Zwolle,Buurt,BU01935210,1141,6,2,3,0,0,...,0,0,0,0,64,0,0,0,0,0

# Data Cleaning & EDA

In [6]:
df1.duplicated(subset=df1.drop(columns=["Unnamed: 0.1", "Unnamed: 0", "ID"]).columns).value_counts()  # no duplicates

False    16667
Name: count, dtype: int64

In [7]:
df2.duplicated(subset=df2.drop(columns=['Unnamed: 0']).columns.tolist()).value_counts()  # duplicates

False    374
True      10
Name: count, dtype: int64

In [8]:
df2[df2["RegioS"].isin(df2['RegioS'].value_counts()[df2['RegioS'].value_counts() >= 2].index.tolist())].sort_values(
    "RegioS")

,Unnamed: 0,RegioS,GemiddeldeVerkoopprijs_1,GemiddeldeWOZWaardeVanWoningen_1,GemiddeldeDoorlooptijd_12
126,126,'s-Gravenhage gemeente,324838.0,32200.0,21.0
382,382,'s-Gravenhage gemeente,324838.0,32200.0,21.0
33,33,Apeldoorn,287155.0,29500.0,22.0
374,374,Apeldoorn,287155.0,29500.0,22.0
57,57,Bladel,334264.0,32300.0,19.0
377,377,Bladel,334264.0,32300.0,19.0
76,76,Castricum,369741.0,34600.0,21.0
379,379,Castricum,369741.0,34600.0,21.0
119,119,Goeree-Overflakkee,274637.0,27100.0,16.0
380,380,Goeree-Overflakkee,274637.0,27100.0,16.0
15,15,Noord-Brabant (PV),310254.0,30900.0,21.0
375,375,Noord-Brabant (PV),310254.0,30900.0,21.0
239,239,Oost Gelre,258210.0,24100.0,44.0
378,378,Oost Gelre,258210.0,24100.0,44.0
381,381,Tynaarlo,309779.0,30000.0,13.0
305,305,Tynaarlo,309779.0,30000.0,13.0
314,314,Valkenburg aan de Geul,275708.0,26400.0,NaN
376,376,Valkenburg aan de Geul,275708.0,26400.0,NaN
373,373,Voerendaal,274747.0,26600.0,38.0
327,327,Voerendaal,274747.0,26600.0,38.0
330,330,Vught,449625.0,44900.0,25.0
383,383,Vught,449625.0,44900.0,NaN

df2 has duplicate regions, but they don't always contain the same data (sometimes NaN). For now, we will keep the row with the fewest NaN values.

In [9]:
df2["nan_count"] = df2.isna().sum(axis=1)  # count nans

In [10]:
df2 = df2.sort_values(by="nan_count", ascending=True).drop_duplicates(subset='RegioS', keep='first')

In [11]:
df1['Gemeentenaam_1'].iloc[0]  # some fields have trailing spaces

'Nederland                               '

In [12]:
strip_targets = [
    (df1, ['Gemeentenaam_1', 'SoortRegio_2']),
    (df3, [
        'Regioaanduiding/Gemeentenaam (naam)',
        'Regioaanduiding/Soort regio (omschrijving)'
    ])
]

# Strip whitespace from each specified column
for df, columns in strip_targets:
    for col in columns:
        df[col] = df[col].str.strip()

We hebben helaas alleen maar toegang tot data op regio niveau in df2. We joinen df2 daarom op df2 op regio.

In [13]:
df_merged = df1.merge(df2, how='left', left_on='Gemeentenaam_1', right_on='RegioS')
df_merged

,Unnamed: 0.1,Unnamed: 0_x,ID,WijkenEnBuurten,Gemeentenaam_1,SoortRegio_2,Codering_3,AantalInwoners_5,Mannen_6,Vrouwen_7,...,AfstandTotSchool_97,ScholenBinnen3Km_98,TotaleOppervlakte_4,BouwgrondOpp,Unnamed: 0_y,RegioS,GemiddeldeVerkoopprijs_1,GemiddeldeWOZWaardeVanWoningen_1,GemiddeldeDoorlooptijd_12,nan_count
0,0,0,0,Nederland,Nederland,Land,NL00,17081507,8475102,8606405,...,0.7,11.2,4154302,434426,0.0,Nederland,307978.0,29900.0,22.0,0.0
1,1,1,1,Aa en Hunze,Aa en Hunze,Gemeente,GM1680,25286,12603,12683,...,1.2,1.8,27887,5992,17.0,Aa en Hunze,284794.0,27600.0,27.0,0.0
2,2,2,2,Wijk 00 Annen,Aa en Hunze,Wijk,WK168000,3545,1710,1835,...,0.8,2.4,1478,53,17.0,Aa en Hunze,284794.0,27600.0,27.0,0.0
3,3,3,3,Annen,Aa en Hunze,Buurt,BU16800000,3395,1635,1760,...,0.7,2.5,252,3,17.0,Aa en Hunze,284794.0,27600.0,27.0,0.0
4,4,4,4,Verspreide huizen Annen,Aa en Hunze,Buurt,BU16800009,150,80,75,...,2.1,1.2,1226,49,17.0,Aa en Hunze,284794.0,27600.0,27.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16662,16662,16662,16662,Gerenbroek,Zwolle,Buurt,BU01935150,3165,1555,1610,...,0.6,11.7,49,0,372.0,Zwolle,293098.0,29500.0,15.0,0.0
16663,16663,16663,16663,Oude Mars,Zwolle,Buurt,BU01935160,90,45,45,...,1.6,8.9,45,0,372.0,Zwolle,293098.0,29500.0,15.0,0.0
16664,16664,16664,16664,Wijk 52 Soestweteringlanden,Zwolle,Wijk,WK019352,900,445,450,...,1.1,2.9,1194,134,372.0,Zwolle,293098.0,29500.0,15.0,0.0
16665,16665,16665,16665,Windesheim,Zwolle,Buurt,BU01935200,400,190,205,...,0.4,1.0,53,0,372.0,Zwolle,293098.0,29500.0,15.0,0.0
16666,16666,16666,16666,Harculo en Hoogzutmen,Zwolle,Buurt,BU01935210,500,255,245,...,1.7,4.5,1141,134,372.0,Zwolle,293098.0,29500.0,15.0,0.0

Only look at neighbourhoods and districts

In [14]:
df_merged = df_merged[df_merged['SoortRegio_2'].isin(['Wijk', 'Buurt'])]

We also need to remove a list of fake neighbourhoods that are just houses scattered around and don't fit for our goal.

In [15]:
df_merged = df_merged[~df_merged['WijkenEnBuurten'].isin(
    list(set(df_merged[df_merged['WijkenEnBuurten'].str.lower().str.contains('verspr')]['WijkenEnBuurten']))
)]

# Indicator Selectie

In dit deel selecteren/ontwikkelen we de scores die verschillende beoordelingscriteria zullen representeren.

In [16]:
facility_columns = ["AfstandTotHuisartsenpraktijk_94", "AfstandTotGroteSupermarkt_95", "AfstandTotKinderdagverblijf_96",
                    "AfstandTotSchool_97"]

These facility variables are critical in our decision making so can not be NaN, we are not imputing these because there is no indication that they can be properly derived from other features.

In [17]:
df_merged[facility_columns].isna().sum()

AfstandTotHuisartsenpraktijk_94    616
AfstandTotGroteSupermarkt_95       616
AfstandTotKinderdagverblijf_96     616
AfstandTotSchool_97                714
dtype: int64

In [18]:
df_merged = df_merged.dropna(subset=facility_columns)

In [19]:
scaler = MinMaxScaler()
normalized_values = 1 - scaler.fit_transform(df_merged[facility_columns])

df_merged['facility_score'] = normalized_values.mean(axis=1)

As a proxy variable for nature in the area we could use the population density. This doesn't perfectly indicate the amount of 'green' in an area or ease of access to nature as high population density areas might still be located near parks, for example. We could create our own proxy by dividing total land by the number of houses but that would mean we would have to drop another ~3000 rows of data.

### Because all of these options are quite poor we are using an external dataset from the CBS (https://opendata.cbs.nl/statline/#/CBS/nl/dataset/85217NED/table?ts=1746190523272) with lots of data about nature.

We are using the total surface area (which correlates with ~0.999 with the same variable from df1), recreational surface area, forest and open nature surface area, and the agricultural surface area.

In [20]:
df_merged = pd.merge(
    df_merged,
    df3[['Totale oppervlakte (ha)',
         'Recreatieterrein/Totaal recreatieterrein (ha)',
         'Bos en open natuurlijk terrein/Totaal  bos en open natuurlijk terrein (ha)',
         'Agrarisch terrein/Totaal agrarisch terrein (ha)',
         'Buitenwater/Totaal buitenwater (ha)',
         'Wijken en buurten', 'Regioaanduiding/Gemeentenaam (naam)',
         'Regioaanduiding/Soort regio (omschrijving)']],
    how='inner',  # only loses 2 rows
    left_on=['WijkenEnBuurten', 'Gemeentenaam_1', 'SoortRegio_2'],
    right_on=['Wijken en buurten', 'Regioaanduiding/Gemeentenaam (naam)', 'Regioaanduiding/Soort regio (omschrijving)']
)

To calculate the score representing access to nature, we first need to impute a minimum value to prevent division by 0.

In [21]:
cols_to_impute = [
    'Recreatieterrein/Totaal recreatieterrein (ha)',
    'Bos en open natuurlijk terrein/Totaal  bos en open natuurlijk terrein (ha)',
    'Agrarisch terrein/Totaal agrarisch terrein (ha)',
    'Buitenwater/Totaal buitenwater (ha)'
]
df_merged_copy = df_merged.copy()
df_merged_copy[cols_to_impute] = df_merged_copy[cols_to_impute].replace(0, 0.000000001)

In [22]:
df_merged['nature_score'] = (
                                    df_merged_copy['Recreatieterrein/Totaal recreatieterrein (ha)']
                                    + df_merged_copy[
                                        'Bos en open natuurlijk terrein/Totaal  bos en open natuurlijk terrein (ha)']
                                    + df_merged_copy['Agrarisch terrein/Totaal agrarisch terrein (ha)']
                                    + df_merged_copy['Buitenwater/Totaal buitenwater (ha)']
                            ) / df_merged_copy['Totale oppervlakte (ha)']

scaler = MinMaxScaler()
df_merged['nature_score_normalized'] = scaler.fit_transform(df_merged[['nature_score']])

In [23]:
df_merged.sort_values(by='nature_score', ascending=False)[:10][['WijkenEnBuurten', 'Gemeentenaam_1']]

                WijkenEnBuurten  Gemeentenaam_1
12505               Mingersborg      Voerendaal
12228               Postwegflat           Venlo
11047  Poldergebied Loenersloot  Stichtse Vecht
12501                 Winthagen      Voerendaal
12500                Kunderberg      Voerendaal
12509                 Hellebeuk      Voerendaal
3609                  Baakhoven   Echt-Susteren
10123                    Paarlo       Roerdalen
10135                  Reewoude       Roerdalen
13584   Recreatiepark Oosteinde        Zuidplas

In [24]:
df_merged = df_merged.dropna(subset='GemiddeldeVerkoopprijs_1')  # drop all rows where we don't have sale data

In [25]:
df_merged[['nature_score', 'facility_score']].describe()

       nature_score  facility_score
count  1.258500e+04    12585.000000
mean   4.124224e-01        0.907901
std    3.451370e-01        0.077925
min    1.324503e-11        0.137665
25%    9.523810e-02        0.878594
50%    3.166667e-01        0.938867
75%    7.726764e-01        0.959876
max    1.000000e+00        0.995322

Een score die de betaalbaarheid representeert, dit is wel betaalbaarheid per regio dus het is niet per se 100% nauwkeurig.

In [26]:
scaler = MinMaxScaler()
df_merged['price_score'] = 1 - scaler.fit_transform(df_merged[['GemiddeldeVerkoopprijs_1']])

Helaas hebben we alleen maar de categorie 25-45 jaar om onze starters te representeren i.p.v. 25-35. Dit is niet ideaal maar het is een variabele die mogelijk waardevol kan zijn in ons besluit.

In [27]:
df_merged['starter_score'] = df_merged['k_25Tot45Jaar_10'] / df_merged['AantalInwoners_5']
scaler = MinMaxScaler()
df_merged['starter_score'] = 1 - scaler.fit_transform(df_merged[['starter_score']])

# Multi-Criteria Decision Analysis (MCDA)

So, now there are a few assumptions we now have to make.
First, we filter out a lot of options by setting a lower limit on the amount of available buildable space. We choose a minimum of 10.60 (ha), the average size of a neighbourhood in 2020 (https://deopenbareruimte.nu/nieuws/wijken-steeds-kleiner-gemeenten-groeien-juist).

In [28]:
df_merged = df_merged[df_merged['BouwgrondOpp'] > 10.6]

Then, to set up our Multi Criterion Decision Analysis (MCDA) with a simple weighted sum model, we need to assign relative weights to the different scores that should influence our decision.

In [29]:
def bar_plot(facility_weight, nature_weight, price_weight, starter_weight, df, n, only_randstad):
    randstad_gemeenten = [
        'Amsterdam', 'Rotterdam', "'s-Hertogenbosch", 'Utrecht', 'Almere', 'Haarlem',
        'Haarlemmermeer', 'Amersfoort', 'Zaanstad', 'Leiden', 'Zoetermeer', 'Dordrecht',
        'Westland', 'Alphen aan den Rijn', 'Alkmaar', 'Delft','Gorinchem', 'Ridderkerk', 'Capelle aan den IJssel', 'Schiedam', 'Spijkenisse', 'Hellevoetsluis', 'Vlaardingen', 'Katwijk', 'Hoofddorp', 'Zandvoort', 'IJmuiden', 'Beverwijk', 'Zaandam', 'Amstelveen', 'Hilversum', 'Zeist', 'Houten', 'Nieuwegein']
    
    
    df = df.copy()
    if only_randstad:
        df = df[df['Gemeentenaam_1'].isin(randstad_gemeenten)]

    df['facility_contrib'] = df['facility_score'] * facility_weight
    df['nature_contrib'] = df['nature_score'] * nature_weight
    df['price_contrib'] = df['price_score'] * price_weight
    df['starter_contrib'] = df['starter_score'] * starter_weight

    df['total_score'] = (
        df['facility_contrib'] +
        df['nature_contrib'] +
        df['price_contrib'] +
        df['starter_contrib']
    )

    top_n = df.sort_values(by='total_score', ascending=False).head(n)
    top_n['combined_label'] = top_n['Gemeentenaam_1'] + '\n' + top_n['WijkenEnBuurten']

    fig, ax = plt.subplots(figsize=(18, 5))
    bar1 = ax.bar(top_n['combined_label'], top_n['facility_contrib'], label='Facility Score', color='skyblue')
    bar2 = ax.bar(top_n['combined_label'], top_n['nature_contrib'], bottom=top_n['facility_contrib'], label='Nature Score', color='lightgreen')
    bar3 = ax.bar(top_n['combined_label'], top_n['price_contrib'], bottom=top_n['facility_contrib'] + top_n['nature_contrib'], label='Price Score', color='salmon')
    bar4 = ax.bar(top_n['combined_label'], top_n['starter_contrib'], 
           bottom=top_n['facility_contrib'] + top_n['nature_contrib'] + top_n['price_contrib'],
           label='Starter Score', color='plum')

    ax.set_xlabel('Buurt/Wijk')
    ax.set_ylabel('Samengestelde Score')
    ax.set_title(f'Top {n} buurten/wijken gebaseerd op samengestelde score')

    descriptions = [
        Patch(color='skyblue', label='Faciliteiten Score: Beschikbaarheid van faciliteiten'),
        Patch(color='lightgreen', label='Natuur Score: Deel van het land als natuur'),
        Patch(color='salmon', label='Prijs Score: Betaalbaarheid van de woning'),
        Patch(color='plum', label='Starter Score: Deel van de bevolking rond dezelfde leeftijd'),
    ]
    ax.legend(handles=descriptions, title='Score Components', bbox_to_anchor=(1.05, 1), loc='upper left')

    plt.xticks(rotation=45, ha='right')
    plt.tight_layout()
    plt.show()

facility_weight_box = widgets.FloatText(value=1.0, description='Faciliteiten gewicht:', step=0.1)
nature_weight_box = widgets.FloatText(value=1.0, description='Natuur gewicht:', step=0.1)
price_weight_box = widgets.FloatText(value=1.0, description='Prijs gewicht:', step=0.1)
starter_weight_box = widgets.FloatText(value=1.0, description='Starter gewicht:', step=0.1)
n_box = widgets.IntSlider(value=10, min=1, max=30, step=1, description='Top N:')
only_randstad_box = widgets.Checkbox(value=False, description='Alleen Randstad')

interactive_plot = interactive(
    bar_plot,
    facility_weight=facility_weight_box,
    nature_weight=nature_weight_box,
    price_weight=price_weight_box,
    starter_weight=starter_weight_box,
    df=widgets.fixed(df_merged),  
    n=n_box,
    only_randstad=only_randstad_box
)

In [31]:
display(interactive_plot)

interactive(children=(FloatText(value=1.0, description='Faciliteiten gewicht:', step=0.1), FloatText(value=1.0…

In [32]:
set(df_merged.Gemeentenaam_1.tolist())

{"'s-Hertogenbosch",
 'Aa en Hunze',
 'Aalsmeer',
 'Aalten',
 'Achtkarspelen',
 'Alblasserdam',
 'Albrandswaard',
 'Almelo',
 'Almere',
 'Alphen aan den Rijn',
 'Alphen-Chaam',
 'Ameland',
 'Amersfoort',
 'Amstelveen',
 'Amsterdam',
 'Apeldoorn',
 'Appingedam',
 'Arnhem',
 'Assen',
 'Asten',
 'Baarle-Nassau',
 'Baarn',
 'Barendrecht',
 'Barneveld',
 'Beek',
 'Beemster',
 'Beesel',
 'Berg en Dal',
 'Bergeijk',
 'Bergen (L.)',
 'Bergen (NH.)',
 'Bergen op Zoom',
 'Berkelland',
 'Bernheze',
 'Best',
 'Beuningen',
 'Beverwijk',
 'Bladel',
 'Blaricum',
 'Bloemendaal',
 'Bodegraven-Reeuwijk',
 'Boekel',
 'Borger-Odoorn',
 'Borne',
 'Borsele',
 'Boxmeer',
 'Boxtel',
 'Breda',
 'Bronckhorst',
 'Brummen',
 'Brunssum',
 'Bunnik',
 'Buren',
 'Castricum',
 'Coevorden',
 'Cranendonck',
 'Cuijk',
 'Culemborg',
 'Dalfsen',
 'Dantumadiel',
 'De Bilt',
 'De Fryske Marren',
 'De Ronde Venen',
 'De Wolden',
 'Delft',
 'Delfzijl',
 'Den Helder',
 'Deurne',
 'Deventer',
 'Diemen',
 'Dinkelland',
 'Doesburg',
 'Doetinchem',
 'Dongen',
 'Dordrecht',
 'Drimmelen',
 'Dronten',
 'Druten',
 'Echt-Susteren',
 'Ede',
 'Eemnes',
 'Eersel',
 'Eijsden-Margraten',
 'Eindhoven',
 'Elburg',
 'Emmen',
 'Enkhuizen',
 'Enschede',
 'Epe',
 'Ermelo',
 'Etten-Leur',
 'Geertruidenberg',
 'Geldrop-Mierlo',
 'Gemert-Bakel',
 'Gennep',
 'Gilze en Rijen',
 'Goeree-Overflakkee',
 'Goes',
 'Goirle',
 'Gooise Meren',
 'Gouda',
 'Grave',
 'Gulpen-Wittem',
 'Haaksbergen',
 'Haaren',
 'Haarlem',
 'Haarlemmermeer',
 'Halderberge',
 'Hardenberg',
 'Harderwijk',
 'Hardinxveld-Giessendam',
 'Hattem',
 'Heemskerk',
 'Heemstede',
 'Heerde',
 'Heerenveen',
 'Heerhugowaard',
 'Heerlen',
 'Heeze-Leende',
 'Heiloo',
 'Hellendoorn',
 'Hellevoetsluis',
 'Helmond',
 'Hendrik-Ido-Ambacht',
 'Hengelo',
 'Heumen',
 'Heusden',
 'Hillegom',
 'Hilvarenbeek',
 'Hilversum',
 'Hof van Twente',
 'Hollands Kroon',
 'Hoogeveen',
 'Horst aan de Maas',
 'Houten',
 'Huizen',
 'Hulst',
 'IJsselstein',
 'Kaag en Braassem',
 'Kampen',
 'Kapelle',
 'Katwijk',
 'Kerkrade',
 'Koggenland',
 'Krimpen aan den IJssel',
 'Krimpenerwaard',
 'Laarbeek',
 'Landerd',
 'Landgraaf',
 'Landsmeer',
 'Langedijk',
 'Lansingerland',
 'Laren',
 'Leeuwarden',
 'Leidschendam-Voorburg',
 'Lelystad',
 'Leudal',
 'Leusden',
 'Lingewaard',
 'Lisse',
 'Lochem',
 'Loon op Zand',
 'Lopik',
 'Loppersum',
 'Losser',
 'Maasdriel',
 'Maasgouw',
 'Maassluis',
 'Maastricht',
 'Medemblik',
 'Meerssen',
 'Meierijstad',
 'Meppel',
 'Middelburg',
 'Midden-Delfland',
 'Midden-Drenthe',
 'Mill en Sint Hubert',
 'Moerdijk',
 'Montferland',
 'Montfoort',
 'Mook en Middelaar',
 'Neder-Betuwe',
 'Nederweert',
 'Nieuwegein',
 'Nieuwkoop',
 'Nijkerk',
 'Nijmegen',
 'Nissewaard',
 'Noord-Beveland',
 'Noordenveld',
 'Noordoostpolder',
 'Noordwijk',
 'Nunspeet',
 'Oegstgeest',
 'Oirschot',
 'Oisterwijk',
 'Oldambt',
 'Oldebroek',
 'Oldenzaal',
 'Olst-Wijhe',
 'Ommen',
 'Oost Gelre',
 'Oosterhout',
 'Ooststellingwerf',
 'Oostzaan',
 'Opsterland',
 'Oss',
 'Oude IJsselstreek',
 'Ouder-Amstel',
 'Overbetuwe',
 'Papendrecht',
 'Peel en Maas',
 'Pekela',
 'Pijnacker-Nootdorp',
 'Purmerend',
 'Putten',
 'Raalte',
 'Reimerswaal',
 'Renkum',
 'Renswoude',
 'Reusel-De Mierden',
 'Rheden',
 'Rhenen',
 'Ridderkerk',
 'Rijssen-Holten',
 'Roerdalen',
 'Roermond',
 'Roosendaal',
 'Rotterdam',
 'Rozendaal',
 'Rucphen',
 'Schagen',
 'Scherpenzeel',
 'Schiermonnikoog',
 'Schouwen-Duiveland',
 'Simpelveld',
 'Sint Anthonis',
 'Sint-Michielsgestel',
 'Sittard-Geleen',
 'Sluis',
 'Smallingerland',
 'Soest',
 'Someren',
 'Son en Breugel',
 'Stadskanaal',
 'Staphorst',
 'Stede Broec',
 'Steenbergen',
 'Steenwijkerland',
 'Stein',
 'Stichtse Vecht',
 'Súdwest-Fryslân',
 'Terneuzen',
 'Terschelling',
 'Texel',
 'Teylingen',
 'Tholen',
 'Tiel',
 'Tilburg',
 'Tubbergen',
 'Twenterand',
 'Tynaarlo',
 'Tytsjerksteradiel',
 'Uden',
 'Urk',
 'Utrechtse Heuvelrug',
 'Vaals',
 'Valkenburg aan de Geul',
 'Valkenswaard',
 'Veendam',
 'Veenendaal',
 'Veere',
 'Veldhoven',
 'Velsen',
 'Venlo',
 'Venray',
 'Vlaardingen',
 'Vlieland',
 'Vlissingen',
 'Voorschoten',
 'Voorst',
 'Vught',
 'Waalre',
 'Waalwijk',
 'Waddinxveen',
 'Wageningen',
 'Wassenaar',
 'Waterland',
 'Weert',
 'West Maas en Waal',
 'Westerveld',
 'Westervoort',
 'Westland',
 'Weststellingwerf',
 'Westvoorne',
 'Wierden',
 'Wijchen',
 'Wijdemeren',
 'Wijk bij Duurstede',
 'Winterswijk',
 'Woensdrecht',
 'Woerden',
 'Woudenberg',
 'Zaanstad',
 'Zaltbommel',
 'Zandvoort',
 'Zeewolde',
 'Zeist',
 'Zevenaar',
 'Zoetermeer',
 'Zuidplas',
 'Zundert',
 'Zutphen',
 'Zwartewaterland',
 'Zwijndrecht',
 'Zwolle'}